terraform-provider-datadog-feature-flags
terraform-provider-datadog-feature-flags_*
*.exe
*.test
*.out
dist/

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

vendor/

.idea/
.vscode/
*.iml
.DS_Store
.envrc
.direnv/
